<html xmlns:th="http://www.w3.org/1999/xhtml" lang="">
<head>
    <title> Patient Details</title>
</head>
<body>
<div align="center">
    <h2> Patient Details </h2>
    <a href="${pageContext.request.contextPath } /patientList  ">back</a>
    <table border="1" cellpadding="5">
<!--        <tr th:each="patient : ${patientList} ">-->
<!--            <td>Name</td>-->
<!--            <td th:text="${patient.firstName}">name</td>-->
<!--        </tr>-->

<!--        <tr th:each="patient : ${patientList} ">-->
<!--            <th>lastName</th>-->
<!--            <td th:text="${patient.lastName}">lastName</td>-->
<!--        </tr>-->



<!--        <h3>Review</h3>>-->
    </table>
</div>
</body>
</html>